.projectImageContainer {
  width: 100%;
  height: auto;
  z-index: 0;
  position: absolute;
}

.projectImage {
  width: 100%;
  height: auto;
}

.projectInfoContainer {
  height: auto;
  margin-top: 15px;
}

.colour2 {
  background-color: #354a54;
}

.projectTitle {
  color: white;
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
  text-align: right;
  direction: rtl;
}

.projectDescription {
  color: white;
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
  text-align: left;
  margin-top: 2%;
  border: 20px solid transparent;
}

.projectTech {
  color: white;
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
  text-align: right;
  margin-top: 2%;
  direction: rtl;
}

.projectLinks {
  color: white;
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
  text-align: left;
  margin-top: 4%;
  direction: rtl;
}
