@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.navWrapper {
  background-color: none;
  width: 200px;
  height: 400px;
  margin-left: 900px;
  position: fixed;
  margin-top: 27vh;
  border: 2px solid;
  border-color: red;
}

.navButton {
  text-decoration: none;
  border: none;
  background-color: #2b3f49;
  color: white;
  text-align: left;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  height: 50px;
  width: 150px;
  margin-top: 24px;
}

.navButton:hover {
  color: #b8bdd4;
}

.heroWrapper {
  min-height: 100vh;
  width: 1000px;
  min-width: 50%;
  display: inline-block;
  background-color: #2b3f49;
}

.sectionWrapper {
  width: 100%;
  min-height: 500px;
  margin-top: 27vh;
  background-color: #2b3f49;
}

.introTitle {
  text-align: left;
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
  color: red;
}

.introName {
  text-align: left;
  font-family: "Source Code Pro", monospace;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

.introDescription {
  text-align: left;
  font-family: "Source Code Pro", monospace;
  font-size: 70px;
  color: #b8bdd4;
}

.introInformationContainer {
  width: 100%;
  margin-top: 50px;
}

.introText {
  text-align: left;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  color: #a0a0a0;
}

.introButtonContainer {
  margin-top: 50px;
  width: 100%;
  text-align: left;
}

.introButton {
  text-decoration: none;
  border: none;
  background-color: #2b3f49;
  color: white;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  border: 2px solid;
  border-color: white;
  font-size: 20px;
  height: 50px;
  width: 150px;
}

.aboutTitle {
  font-family: "Source Code Pro", monospace;
  text-align: left;
  font-size: 30px;
  width: 100%;
  color: red;
}

.aboutInformationContainer {
  width: 100%;
  margin-top: 35px;
  display: inline-block;
}

.aboutText {
  text-align: left;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  width: 50%;
  height: 100%;
  display: inline-block;
  color: #a0a0a0;
}

.aboutPhoto {
  width: 50%;
  display: inline-block;
  text-align: center;

  height: 100%;
}
