@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.margin-top-50px {
  margin-top: 50px;
}

.margin-top-intro {
  margin-top: calc((100vh - 469.2px) / 2);
}

.red {
  background-color: red;
}

.red-highlight {
  color: red;
  font-weight: bold;
}

.uoa-highlight {
  color: #0098c3;
}

.usyd-highlight {
  color: orange;
}

.red-text {
  color: red;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  font-weight: bold;
}

.green {
  background-color: green;
}

.white {
  color: white;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #b8bdd4;
}

.deep-turqoiuse {
  background-color: #2b3f49;
  opacity: 0.97;
}

.margin-left-15 {
  margin-left: 15px;
}

.min-height-100vh {
  min-height: 100vh;
}

.heroWrapper {
  min-height: 100vh;
  width: 50vw;
  min-width: 50%;
  display: inline-block;
  background-color: #2b3f49;
}

.sectionWrapper {
  width: 100%;
  min-height: 500px;
  margin-top: 27vh;
}

.introTitle {
  text-align: left;
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
  color: red;
  line-height: 40px;
}

.introName {
  text-align: left;
  font-family: "Source Code Pro", monospace;
  font-size: 100px;
  font-weight: bold;
  color: white;
  line-height: 110px;
}

.introDescription {
  text-align: left;
  font-family: "Source Code Pro", monospace;
  font-size: 70px;
  color: #b8bdd4;
  line-height: 80px;
}

.introInformationContainer {
  width: 100%;
  margin-top: 50px;
}

.introText {
  margin-top: 50px;
  text-align: left;
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
  color: #cccccc;
}

.introButtonContainer {
  text-align: left;
  margin-top: 50px;
}

.introButton {
  height: 50px;
  width: 150px;
  position: relative;
  background-color: transparent;
  outline: none;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  font-family: "Source Code Pro", monospace;
}

.introButton:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  bottom: -2px;
  left: -2px;
  box-sizing: border-box;
}

.introButton:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: -2px;
  right: -2px;
  box-sizing: border-box;
}

.introButton:hover:before {
  height: 50px;
  width: 150px;
  border: 2px solid red;
  border-right: none;
  border-bottom: none;
  transition: height 0.1s linear, width 0.1s linear 0.1s;
}

.introButton:hover:after {
  height: 50px;
  width: 150px;
  border: 2px solid red;
  border-left: none;
  border-top: none;
  transition: height 0.1s linear, width 0.1s linear 0.1s;
}

.aboutTitle {
  font-family: "Source Code Pro", monospace;
  text-align: left;
  font-size: 30px;
  color: white;
  line-height: 80px;
  line-height: 60px;
}

.aboutInformationContainer {
  width: 100%;
  margin-top: 35px;
  display: inline-block;
}

.aboutText {
  text-align: left;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  display: inline-block;
  color: #cccccc;
}

.aboutPhoto {
  width: 50%;
  display: inline-block;
  text-align: center;

  height: 100%;
}
